
html, body{
  width: 100%;
  height: 100%;
  font-family: 'Livvic', sans-serif ;
}
html {
  font-size: 13px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  } 
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .fc-right {
    display: none;
  }
}


tr:first-child > td > .fc-day-grid-event {
    margin-top: 2px;
    height: 35px ;
}

/* stylelint-disable selector-list-comma-newline-after */

.navbar-brand {
  padding: 0px; /* firefox bug fix */
  /*margin-left: 25px;*/
}
.navbar-brand>img {
  height: 65px;
  padding: 0px; /* firefox bug fix */
  width: 65px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1)!important;
}


.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.imagen-detalles{
  /*background-color: #ffba8a;*/
  height: 365px;
  
  /*text-align: left;*/
}
  .imagen-detalles > a > img {
      height: 100%;
      width: auto; 
      
      padding: 5px;

  }
  .imagen-detalles > a {
      height: 100%;
      width: auto; 
  }

/*.imagen-carrousel{
  max-height: 350px;
  width: auto;
  padding: 5px;
}*/
.asdf{
  display: flex;
}
  .afiche-carrousel > a > img{
    max-height: 365px;
    width: auto;
    /*padding: 5px;*/
    justify-content: center !important;
  }
  
.show-izquierda{
  text-align: center;
}

.mapa-derecha{
  /*background-color: #ffba8a;*/
  height: 350px;
}

/*  SOBREESCRIBIENDO COLORES    */
/*  #ff8d2a  #6c6d6e*/

.bg-primary {
    background-color: #ff8d2a !important;
}

.text-primary {
    color: #ff8d2a !important;
}

.btn-primary{
  background-color: #ff8d2a !important;
  border-color: #ee6e00 !important;
}
  .btn-primary:hover,
  .btn-primary:focus{
    background-color: #ee6e00 !important;

  }
  .btn-primary:active{
    background-color: #be5800 !important;
    border-color: #984600 !important;
  }
  .btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 154, 5, 0.56) !important;

  }

.btn-outline-primary {
    border-color: #ffffff!important;
}
  .btn-outline-primary:hover,
  .btn-outline-primary:focus{
    background-color: #ee6e00 !important;
  }
  .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.56) !important;

  }
  
.bg-secondary {
    background-color: #6c6d6e !important;
}

.carousel-item>img {
  filter:brightness(0.7);
}

/*card*************/
.card{
  background-color: #eae8e5;
}

.card:hover{
  /*transform: translateY(-4px);*/
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5) !important;
}



.imagen-card{
  background-color: #efae60 ;
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
}

  .imagen-card img {
    height: 100%;
    width: 100%;
    transition: all 300ms;
  }
  .imagen-card:hover img{
    transform: scale(1.6) rotate(10deg);
  }
  .imagen-card h4{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    z-index: 2;
    transition: all 300ms cubic-bezier(1,0,0,1);
    border: 2px solid white;
    background: black;
    padding: 6px;
  }
  .imagen-card:hover h4{
    transform: translate(-50%, -50%) scale(1);
  }
  .imagen-card:before,
  .imagen-card:after{
      content: '';
      width: 500px;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      opacity: 0.4;
      transition: all 300ms cubic-bezier(1,0,0,1);
      border: 4px solid white;
      z-index: 1;
  }
  .imagen-card:before{
    transform: rotate(45deg) translateY(-550px) translateX(0px);
  }
  .imagen-card:after{
    transform: rotate(45deg) translateY(550px) translateX(-60px);
  }
  .imagen-card:hover:before{
    transform: rotate(45deg) translateY(-130px) translateX(-100px);
  }
  .imagen-card:hover:after{
    transform: rotate(45deg) translateY(280px) translateX(-80px);
  }

textarea {
  resize: none;
}

.page-link {
    color: #ff7802;
    background-color: #fff;
}
.page-item.active .page-link {   
    z-index: 1 ;
    color: #fff ;
    background-color: #ff8d2a !important;
    border-color: #ff8d2a !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff8d2a;
}




